[Desktop Entry]
Type=Application
Name=10x10Manometer Autostart
Comment=Start the Manometer	
Exec=lxterminal --geometry=140x40 -e "/home/pi/10x10manometer/manometer.sh" 
Terminal=false
Icon=/home/pi/10x10manometer/manometer.svg
Name[en_US]=10x10 Manometer
Path=/home/pi/10x10manometer/
